# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [1]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [2]:
# Your code here:

print(f"Shape: {df.shape}")

Shape: (6000, 8)

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [3]:
# Your code here:
print(f"Columns: {df.columns}")

Columns: ['Carat Weight', 'Cut', 'Color', 'Clarity', 'Polish', 'Symmetry', 'Report', 'Price']

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents:

> It represents one diamond in the inventory and the characteristics of that diamond.

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [4]:
# Your code here:

print(f"Total carats: {df['Carat Weight'].sum()}")

Total carats: 8007.120000000001

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [5]:
# Your code here:

Unique_cuts = df['Cut'].unique()
print(f"Unique cuts: {Unique_cuts}")

Unique cuts: shape: (5,)
Series: 'Cut' [str]
[
	"Very Good"
	"Fair"
	"Good"
	"Signature-Ideal"
	"Ideal"
]

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [6]:
# Your code here:

Mostexpensive_diamond = df["Price"].max()
print(f"Most expensive diamond: {Mostexpensive_diamond}")

Leastexpensive_diamond = df["Price"].min()
print(f"Least expensive diamond: {Leastexpensive_diamond}")

Most expensive diamond: 101561
Least expensive diamond: 2184

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [7]:
# Your code here:

pricing_patterns = df.group_by("Color").agg(pl.col("Price").mean().alias("Average Price"))

pricing_patterns

shape: (6, 2)
┌───────┬───────────────┐
│ Color ┆ Average Price │
│ ---   ┆ ---           │
│ str   ┆ f64           │
╞═══════╪═══════════════╡
│ D     ┆ 15255.783661  │
│ E     ┆ 11539.190231  │
│ I     ┆ 8989.636364   │
│ F     ┆ 12712.241856  │
│ H     ┆ 10487.347544  │
│ G     ┆ 12520.050633  │
└───────┴───────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = Each row represents a color and the average price of diamonds with that color.

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [8]:
# Your code here:

clarity_breakdown = df.group_by("Clarity").agg(pl.col("Price").mean(), pl.col("Carat Weight").sum()
  ).with_columns(pl.col("Clarity").count().alias("Count"))

clarity_breakdown

shape: (7, 4)
┌─────────┬──────────────┬──────────────┬───────┐
│ Clarity ┆ Price        ┆ Carat Weight ┆ Count │
│ ---     ┆ ---          ┆ ---          ┆ ---   │
│ str     ┆ f64          ┆ f64          ┆ u32   │
╞═════════╪══════════════╪══════════════╪═══════╡
│ VVS1    ┆ 16845.680702 ┆ 389.43       ┆ 7     │
│ FL      ┆ 63776.0      ┆ 7.87         ┆ 7     │
│ SI1     ┆ 8018.864012  ┆ 2563.69      ┆ 7     │
│ VS1     ┆ 13694.113255 ┆ 1682.74      ┆ 7     │
│ VS2     ┆ 11809.053333 ┆ 2170.81      ┆ 7     │
│ IF      ┆ 22105.844749 ┆ 316.0        ┆ 7     │
│ VVS2    ┆ 14142.177177 ┆ 876.58       ┆ 7     │
└─────────┴──────────────┴──────────────┴───────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [9]:
# Your code here:

pricing_structure = df.group_by(["Cut", "Color"]).agg(pl.col("Price").mean())

pricing_structure

shape: (30, 3)
┌───────────┬───────┬──────────────┐
│ Cut       ┆ Color ┆ Price        │
│ ---       ┆ ---   ┆ ---          │
│ str       ┆ str   ┆ f64          │
╞═══════════╪═══════╪══════════════╡
│ Good      ┆ E     ┆ 8969.545455  │
│ Very Good ┆ E     ┆ 12101.910217 │
│ Ideal     ┆ I     ┆ 9459.588378  │
│ Ideal     ┆ H     ┆ 11527.700873 │
│ Ideal     ┆ D     ┆ 18461.953571 │
│ …         ┆ …     ┆ …            │
│ Good      ┆ G     ┆ 9988.614865  │
│ Ideal     ┆ E     ┆ 12647.107914 │
│ Fair      ┆ F     ┆ 6063.625     │
│ Very Good ┆ G     ┆ 12354.013841 │
│ Fair      ┆ I     ┆ 4573.1875    │
└───────────┴───────┴──────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = Each row represents the average price for each cut / color of diamond

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [ ]:
# Your code here:

color_cut_value = df.group_by(["Color", "Cut"]).agg(pl.col("Price").sum())

color_cut_value.sort("Price").tail(5)

shape: (5, 3)
┌───────┬───────────┬─────────┐
│ Color ┆ Cut       ┆ Price   │
│ ---   ┆ ---       ┆ ---     │
│ str   ┆ str       ┆ i64     │
╞═══════╪═══════════╪═════════╡
│ H     ┆ Ideal     ┆ 5279687 │
│ F     ┆ Ideal     ┆ 5346782 │
│ F     ┆ Very Good ┆ 5648327 │
│ G     ┆ Very Good ┆ 7140620 │
│ G     ┆ Ideal     ┆ 9363514 │
└───────┴───────────┴─────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use